btn-success {
    background-color: navy;
}

btn-gris {
    background-color: rgb(83, 82, 82);
}

input {
    font-size: 14px;
    width: 40%;
    background-color: rgb(235, 235, 235);
  }

label {
    font-size: 14px;
    width: 10%;    
    color: navy;
}