.contenedor {
  padding-left: 10rem;
  margin-right: auto;
  margin-left: auto;
}

.z-index {
  z-index: 50;
  color: #56677b;
}

.main {
  padding: 20px 5px;
  margin-right: auto;
  margin-left: auto;
}

.texto {
  padding-top: 10rem;
}

h1 {
  font-size: 9rem;
  font-weight: 400;
  margin-bottom: 5rem;
}

.espera {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}

.gob {
  line-height: 1.5;
  font-size: 1rem;
}