.spacer {
  flex: 1 1 auto;
}

::ng-deep .mat-menu-content {
  background-color: rgb(243, 243, 243);
}

.mat-menu-item {
  color: navy;
  line-height: 35px;
  height: 35px;
}

.cursor-text {
  cursor: pointer;
  user-select: none;
}

.cursor-chevron {
  user-select: none;
  cursor: default;
}

.cursor-text:hover {
  color: #aab7b8;
}

button.mat-menu-item {
  background-color: rgb(243, 243, 243);
}

button.mat-menu-item:hover {
  background-color: navy;
  color: white !important;
}

.buttonIcon {
  color: navy;
}

.menuItemIcon {
  color: navy;
}

.menuItemIconRed {
  color: red !important;
}

// .mat-menu-item .mat-icon {
//   color: navy;
// }

.mat-menu-item:hover .mat-icon {
  color: white !important;
}

.mat-toolbar {
  color: navy;
  background: none;
  height: 50px;
  font-size: 16px;
  background: #f2f2f2;
}

.menuBotones {
  color: navy;
  text-align: center;
  background-color: #fafafa;
}

.btn-usuario {
  background-color: white;
  color: navy;
  border: 2px solid #f0f0f0;
}

.menuBotones a:hover {
  background-color: #f0f0f0;
  color: black;
}

.blue {
  color: navy;
}

// .mat-icon {
//   color: navy !important;
// }