a {
  color: navy;
  background-color: #f7f7f7;
}

a:hover {
  color: blue; // #aab7b8;  
  background-color: white;
}

.yellow-bar {
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 3.5px;
  background: #fa0000;
  display: block;
  left: 0;
  width: 100%;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
}