<div class="mb-5" class="menuBotones text-left" style="background-color: #f7f7f7;">
  <a mat-flat-button routerLink="clientes/list" class="px-5">
    <mat-icon>person</mat-icon>
    <span class="px-1">Clientes</span>
    <span class="yellow-bar" *ngIf="ruta === 'clientes'"></span>
  </a>
  <a mat-flat-button routerLink="distribuidores" class="px-5" *ngIf="esAdmin">
    <mat-icon>group</mat-icon>
    <span class="px-1">Distribuidores</span>
    <span class="yellow-bar" *ngIf="ruta === 'distribuidores'"></span>
  </a>
  <a mat-flat-button routerLink="productos" class="px-5">
    <mat-icon>domain_verification</mat-icon>
    <span class="px-1">Productos</span>
    <span class="yellow-bar" *ngIf="ruta === 'productos'"></span>
  </a>
  <a mat-flat-button routerLink="solicitudes/solicitudes" class="px-5">
    <mat-icon>format_list_bulleted_add</mat-icon>
    <span class="px-1">Solicitudes</span>
    <span class="yellow-bar" *ngIf="ruta === 'solicitudes'"></span>
  </a>
  <a mat-flat-button routerLink="autorizaciones" class="px-5">
    <mat-icon>playlist_add_check</mat-icon>
    <span class="px-1">Autorizaciones</span>
    <span class="yellow-bar" *ngIf="ruta === 'autorizaciones'"></span>
  </a>
  <a mat-flat-button routerLink="facturacion" class="px-5">
    <mat-icon>fact_check</mat-icon>
    <span class="px-1">Facturación</span>
    <span class="yellow-bar" *ngIf="ruta === 'facturacion'"></span>
  </a>
  <a mat-flat-button routerLink="tickets" class="px-5">
    <mat-icon>summarize</mat-icon>
    <span class="px-1">Tickets</span>
    <span class="yellow-bar" *ngIf="ruta === 'tickets'"></span>
  </a>
  <a mat-flat-button routerLink="usuarios/usuarios" class="px-5" *ngIf="esAdmin">
    <mat-icon>admin_panel_settings</mat-icon>
    <span class="px-1">Usuarios</span>
    <span class="yellow-bar" *ngIf="ruta === 'usuarios'"></span>
  </a>
  <a mat-flat-button (click)="cerrarSesion()" class="px-5">
    <mat-icon>logout</mat-icon>
    <span class="px-1">Cerrar Sesión</span>
  </a>
</div>