.mat-form-field {
    font-size: 14px;
    width: 35%;
}

.mat-card {
    background-color: #f7f7f7;
    padding: 10px;
}

.mat-card-content {
    background-color: #f5f5f5;
    padding: 10px;
}

span.text-title2 {
    color: gray;
    font-size: small;
}

span.text-title3 {
    color: red;
    font-size: small;
    text-align: end;
}