<div class="img-center" *ngIf="cargando"> 
    <!-- estadoCliente != Estados.datosCargados -->
    <mat-spinner></mat-spinner>
</div>
<div class="row" *ngIf="!cargando">
    <!-- estadoCliente == Estados.datosCargados -->
    <mat-form-field>
        <mat-label>Filtrar:</mat-label>
        <input matInput type="text" placeholder="Buscar..." (keyup)="aplicarFiltro($event)">
    </mat-form-field>
    <div *ngFor="let cliente of clientes" class="col-md-4 p-2">
        <!-- clientes$ | async -->
        <mat-card>
            <mat-card-title>{{cliente.cliente}}</mat-card-title>
            <mat-card-subtitle>Correo: {{cliente.correo}}</mat-card-subtitle>
            <mat-card-content>
                <span>RFC: {{cliente.rfc}}</span>
                <br>
                <span>Régimen Fiscal: {{cliente.regimenFiscal}}</span>
                <br>
                <span>CP: {{cliente.cp}}</span>
            </mat-card-content>
            <mat-card-actions align="end">
                <button class="px-2" mat-flat-button color="primary" (click)="editarCliente(cliente.id)">Editar</button>
                <button class="px-2" mat-flat-button color="primary"
                    (click)="detalleCliente(cliente.id)">Detalle</button>
                <button class="px-2" mat-flat-button color="warn"
                    (click)="eliminarClienteClick(cliente.id, cliente.cliente)">Eliminar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div class="p-3" *ngIf="error">
    {{error | json}}
</div>