<div class="contenedor">
  <div class="header">
    <div class="asignarUnidad" *ngIf="mostrarBusqueda">
      <input type="search" name="" id="" />
    </div>
    <div class="datosHeader">
      <span class="botonAsignar" *ngIf="!solicitud.userId">
        <button mat-raised-button (click)="mostrarBusqueda = !mostrarBusqueda">
          <mat-icon>person_add</mat-icon>Asignar Unidad
        </button>
      </span>
      <span class="tituloPrincipal">
        <h2 class="fw-bolder text-center">Solicitud de uso</h2>
      </span>
      <span class="botonesUnidades" *ngIf="solicitud.userId">
        <button mat-raised-button (click)="abrirUnidadNE()">
          <img class="icon" src="../../../assets/img/NE32x32.png" />
        </button>
        <button mat-raised-button (click)="abrirUnidadNE()">
          <img class="icon" src="../../../assets/img/FE32x32.png" />
        </button>
      </span>
    </div>
    <div class="datosDeLaUnidad">
      <div class="unidad" *ngIf="!solicitud.userId" >
        <h2 class="sinUnidadAsignada">Sin Unidad Asignada</h2>
      </div>
      <div class="unidad" *ngIf="solicitud.userId">
        <h2 class="unidadTexto">Carlos Mendez</h2>
        <h2 class="line font">{{ solicitud.userId }}</h2>
      </div>
      <div class="version" *ngIf="!solicitud.userId || solicitud.userId">
        <h2 class="unidadTexto text-center">
          {{ solicitud.appNombre }} v
          {{ solicitud.version | number : "1.2" }} -{{
            tipoMovimiento[solicitud.tipoMovimiento] | titlecase
          }}
        </h2>
        <h2 class="line font text-center">
          {{ solicitud.fechaRegistro | date : "dd MMM yyyy HH:mm" }}
        </h2>
      </div>
    </div>
  </div>

  <div class="main">
    <div>
      <div class="datosResgistrados">
        <div>
          <button
            (click)="mostrarDatosRegistrados = !mostrarDatosRegistrados"
            class="botonMostrar"
          >
            <h1>Datos registrados</h1>
            <mat-icon class="toggleRegistrados">expand_more</mat-icon>
          </button>
          <div class="headerRegistrados">
            <div>
              <span class="ps-3">
                <mat-form-field appearance="outline" class="wchico">
                  <mat-label>ID</mat-label>
                  <input
                    matInput
                    placeholder="ID"
                    [readonly]="enEdicion"
                    id="edicion"
                  />
                </mat-form-field>
              </span>
              <span class="ps-3">
                <mat-form-field class="wnombre" appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input
                    id="edicion"
                    matInput
                    placeholder="Escribe el Nombre del cliente"
                    [readonly]="enEdicion"
                  />
                </mat-form-field>
              </span>
              <span class="ps-3">
                <mat-form-field class="wrfc" appearance="outline">
                  <mat-label>R.F.C.</mat-label>
                  <input
                    id="edicion"
                    matInput
                    placeholder="Escribe el R.F.C."
                    [readonly]="enEdicion"
                  />
                </mat-form-field>
              </span>
              <span class="ps-3">
                <mat-form-field class="wchico" appearance="outline">
                  <mat-label>C.P.</mat-label>
                  <input
                    matInput
                    placeholder="C.P."
                    [readonly]="enEdicion"
                    id="edicion"
                  />
                  <mat-error></mat-error>
                </mat-form-field>
              </span>
            </div>
            <div>
              <span class="ps-3">
                <mat-form-field appearance="outline" class="wregimen">
                  <mat-label>Regimen Fiscal</mat-label>
                  <mat-select>
                    <mat-option
                      id="edicion"
                      value="tipoPago.key"
                      *ngFor="
                        let regimenFiscal of regimenFiscal
                          | keyvalue : valueAscOrder
                      "
                      >{{ regimenFiscal.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
              <span class="ps-3">
                <mat-form-field class="wcorreo" appearance="outline">
                  <mat-label>Correo Electronico</mat-label>
                  <input
                    matInput
                    placeholder="Ingresa tu correo"
                    [formControl]="email"
                  />
                  <mat-error *ngIf="email.invalid">{{
                    getErrorMessage()
                  }}</mat-error>
                </mat-form-field>
              </span>
            </div>
          </div>
        </div>
        <div *ngIf="mostrarDatosRegistrados" class="mostrarDatos">
          <div>
            <span class="ps-3">
              <mat-form-field appearance="outline" class="wgeneral">
                <mat-label>Calle</mat-label>
                <input
                  id="edicion"
                  matInput
                  placeholder="Escribe la Calle"
                  [readonly]="enEdicion"
                />
              </mat-form-field>
            </span>

            <span class="ps-3">
              <mat-form-field class="wchico" appearance="outline">
                <mat-label>No. Ext.</mat-label>
                <input
                  matInput
                  placeholder="No. Ext."
                  [readonly]="enEdicion"
                  id="edicion"
                />
              </mat-form-field>
            </span>

            <span class="ps-3">
              <mat-form-field class="wchico" appearance="outline">
                <mat-label>No. Int.</mat-label>
                <input
                  matInput
                  placeholder="No. Int."
                  [readonly]="enEdicion"
                  id="edicion"
                />
              </mat-form-field>
            </span>
            <span class="ps-3">
              <mat-form-field class="wgeneral" appearance="outline">
                <mat-label>Colonia</mat-label>
                <input
                  matInput
                  placeholder="Colonia"
                  [readonly]="enEdicion"
                  id="edicion"
                />
              </mat-form-field>
            </span>
          </div>
          <div>
            <span class="ps-3">
              <mat-form-field class="wgeneral" appearance="outline">
                <mat-label>Municipio</mat-label>
                <input
                  id="edicion"
                  matInput
                  placeholder="Municipio"
                  [readonly]="enEdicion"
                />
              </mat-form-field>
            </span>
            <span class="ps-3">
              <mat-form-field class="wrfc" appearance="outline">
                <mat-label>Ciudad</mat-label>
                <input
                  matInput
                  placeholder="Ciudad"
                  [readonly]="enEdicion"
                  id="edicion"
                />
              </mat-form-field>
            </span>
            <span class="ps-3">
              <mat-form-field class="wrfc" appearance="outline">
                <mat-label>Estado</mat-label>
                <input
                  matInput
                  placeholder="Estado"
                  [readonly]="enEdicion"
                  id="edicion"
                />
              </mat-form-field>
            </span>
            <span class="botonesRegistro">
              <span>
                <button
                  title="Editar Datos"
                  mat-button
                  (click)="enEdicion = !enEdicion"
                >
                  <mat-icon color="primary">edit</mat-icon>
                </button>
              </span>
              <span>
                <button title="Guardar Datos" mat-button>
                  <mat-icon color="green">sd_card</mat-icon>
                </button>
              </span>
              <span>
                <button
                  title="Deshacer - Esto refrescará la página"
                  mat-button
                  value="Recargar"
                  onclick="location.reload()"
                >
                  <mat-icon color="warn">replay</mat-icon>
                </button>
              </span>
            </span>
          </div>
        </div>
      </div>

      <div class="datosSolicitud" *ngIf="existeDatosModificados">
        <div class="animacion">
          <button
            (click)="mostrarDatosSolicitud = !mostrarDatosSolicitud"
            class="botonMostrar"
          >
            <h1>Datos en la solicitud</h1>
            <mat-icon class="toggleSolicitud">expand_more</mat-icon>
          </button>
          <div class="headerSolicitud">
            <div>
              <span class="ps-3">
                <mat-form-field class="wnombre" appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input matInput placeholder="Escribe el Nombre del cliente" />
                </mat-form-field>
              </span>
              <span class="ps-3">
                <mat-form-field class="wrfc" appearance="outline">
                  <mat-label>R.F.C.</mat-label>
                  <input matInput placeholder="Escribe el R.F.C." />
                </mat-form-field>
              </span>
              <span class="ps-3">
                <mat-form-field class="wchico" appearance="outline">
                  <mat-label>C.P.</mat-label>
                  <input matInput placeholder="C.P." />
                  <mat-error></mat-error>
                </mat-form-field>
              </span>
            </div>
            <div>
              <span class="ps-3">
                <mat-form-field appearance="outline" class="wregimen">
                  <mat-label>Regimen Fiscal</mat-label>
                  <mat-select>
                    <mat-option
                      value="tipoPago.key"
                      *ngFor="
                        let regimenFiscal of regimenFiscal
                          | keyvalue : valueAscOrder
                      "
                      >{{ regimenFiscal.value }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </span>
              <span class="ps-3">
                <mat-form-field class="wcorreo" appearance="outline">
                  <mat-label>Correo Electronico</mat-label>
                  <input
                    matInput
                    placeholder="Ingresa tu correo"
                    [formControl]="email"
                  />
                  <mat-error *ngIf="email.invalid">{{
                    getErrorMessage()
                  }}</mat-error>
                </mat-form-field>
              </span>
            </div>
          </div>
        </div>
        <div *ngIf="mostrarDatosSolicitud" class="mostrarDatos">
          <div>
            <span class="ps-3">
              <mat-form-field appearance="outline" class="wgeneral">
                <mat-label>Calle</mat-label>
                <input matInput placeholder="Escribe la Calle" />
              </mat-form-field>
            </span>

            <span class="ps-3">
              <mat-form-field class="wchico" appearance="outline">
                <mat-label>No. Ext.</mat-label>
                <input matInput placeholder="No. Ext." />
              </mat-form-field>
            </span>

            <span class="ps-3">
              <mat-form-field class="wchico" appearance="outline">
                <mat-label>No. Int.</mat-label>
                <input matInput placeholder="No. Int." />
              </mat-form-field>
            </span>
            <span class="ps-3">
              <mat-form-field class="wgeneral" appearance="outline">
                <mat-label>Colonia</mat-label>
                <input matInput placeholder="Colonia" />
              </mat-form-field>
            </span>
            <span class="botonValidar">
              <button mat-raised-button (click)="validarDatos()">
                <mat-icon>save</mat-icon>
                <h2>Validar datos nuevos</h2>
              </button>
            </span>
          </div>
          <div>
            <span class="ps-3">
              <mat-form-field class="wgeneral" appearance="outline">
                <mat-label>Municipio</mat-label>
                <input matInput placeholder="Municipio" />
              </mat-form-field>
            </span>
            <span class="ps-3">
              <mat-form-field class="wrfc" appearance="outline">
                <mat-label>Ciudad</mat-label>
                <input matInput placeholder="Ciudad" />
              </mat-form-field>
            </span>
            <span class="ps-3">
              <mat-form-field class="wrfc" appearance="outline">
                <mat-label>Estado</mat-label>
                <input matInput placeholder="Estado" />
              </mat-form-field>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="datosPago">
      <div>
        <h2>Datos del pago</h2>
      </div>
      <div class="infoPagos">
        <div class="ps-5">
          <mat-form-field appearance="outline" class="wgeneral">
            <mat-label>Tipo de pago</mat-label>
            <mat-select>
              <mat-option
                value="tipoPago.key"
                *ngFor="let tipoPago of tipoDePago | keyvalue : valueAscOrder"
                >{{ tipoPago.value }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="ps-5">
          <mat-form-field class="wgeneral" appearance="outline">
            <mat-label>Referencia</mat-label>
            <input matInput placeholder="Escribe la Referencia del pago" />
          </mat-form-field>
        </div>
        <div class="ps-5">
          <mat-form-field appearance="outline">
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="fecha" placeholder="MM/DD/AAAA" />
            <mat-datepicker-toggle
              matSuffix
              [for]="fecha"
            ></mat-datepicker-toggle>
            <mat-datepicker #fecha></mat-datepicker>
          </mat-form-field>
        </div>
        <span class="ps-5">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Importe</mat-label>
            <input matInput type="number" placeholder="Coloque el importe" />
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>
        </span>
      </div>
      <div class="text-center">
        <span>
          <img
            onclick="javascript:this.width=650;this.height=500"
            ondblclick="javascript:this.width=450;this.height=338"
            src="../../../assets/img/pago.jpg"
            width="450"
            height="338"
          />
        </span>
        <span class="floatR">
          <a
            href="../../../assets/img/pago.jpg"
            target="_blank"
            mat-stroked-button
            class="botonZoom"
            mat-mini-fab
            color="white"
          >
            <mat-icon>zoom_in</mat-icon>
          </a>
        </span>
      </div>
    </div>
    <div class="facturarPago">
      <div>
        <h2>Facturar A:</h2>
        <h3>¿A que nombre saldra la factura?</h3>
      </div>
      <div class="datosFacturar">
        <div>
          <span class="ps-3">
            <mat-form-field class="wnombre" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Escribe el Nombre del cliente" />
            </mat-form-field>
          </span>
          <span class="ps-3">
            <mat-form-field class="wrfc" appearance="outline">
              <mat-label>R.F.C.</mat-label>
              <input matInput placeholder="Escribe el R.F.C." />
            </mat-form-field>
          </span>
          <span class="ps-3">
            <mat-form-field class="wchico" appearance="outline">
              <mat-label>C.P.</mat-label>
              <input matInput placeholder="C.P." />
              <mat-error></mat-error>
            </mat-form-field>
          </span>
        </div>
        <div>
          <span class="ps-3">
            <mat-form-field appearance="outline" class="wregimen">
              <mat-label>Regimen Fiscal</mat-label>
              <mat-select>
                <mat-option
                  value="tipoPago.key"
                  *ngFor="
                    let regimenFiscal of regimenFiscal
                      | keyvalue : valueAscOrder
                  "
                  >{{ regimenFiscal.value }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </span>
          <span class="ps-3">
            <mat-form-field class="wcorreo" appearance="outline">
              <mat-label>Correo Electronico</mat-label>
              <input
                matInput
                placeholder="Ingresa tu correo"
                [formControl]="email"
              />
              <mat-error *ngIf="email.invalid">{{
                getErrorMessage()
              }}</mat-error>
            </mat-form-field>
          </span>
        </div>
      </div>
    </div>
    <div class="mensajes">
      <div>
        <h2>Mensajes</h2>
      </div>
      <textarea class="historial" cols="150" rows="3"></textarea>
      <div class="nuevoMensaje">
        <mat-form-field class="mensajeNuevo" appearance="outline">
          <mat-label>Mensaje Nuevo</mat-label>
          <textarea
            matInput
            placeholder="Escribe tu mensaje"
            cols="100"
          ></textarea>
        </mat-form-field>
        <div class="botonEnviar">
          <button type="submit" value="Enviar">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="soporte">
      <div class="asignacion">
        <div>
          <button
            (click)="mostrarBotonesAsignacion = !mostrarBotonesAsignacion"
            class="usuario"
          >
            <h1>Asignado a:</h1>
            <h2>Carlos Mendez</h2>
            <div *ngIf="mostrarBotonesAsignacion">
              <button
                mat-raised-button
                class="btn btn-success asignar"
                (click)="$event.stopPropagation(); asignarSolicitud()"
              >
                <h2>Asignarme a mi</h2>
              </button>
              <button
                id="asignar"
                mat-raised-button
                color="warn"
                class="desasignar"
                (click)="$event.stopPropagation(); desasignarSolicitud()"
              >
                <h2>Desasignarme</h2>
              </button>
            </div>
          </button>
        </div>
      </div>
      <div class="botonesGenerales">
        <span>
          <button
            mat-raised-button
            class="btn btn-success"
            (click)="autorizar()"
          >
            <mat-icon>done</mat-icon>
            <h2>Autorizar</h2>
          </button>
        </span>
        <span>
          <button mat-raised-button color="warn" (click)="eliminarSolicitud()">
            <mat-icon>close</mat-icon>
            <h2>Eliminar</h2>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
