@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

small {
  font-size: 80%;
}

small.text-muted {
  font-weight: 600;
}

small.text-muted-gris {
  font-weight: 600;
  background-color: rgb(238, 238, 238);
}

small.text-muted-primary {
  font-weight: 600;
}

btn-outline-green {
  color: green;
}